body {
	margin:0;
	padding:0;	
	
	font-family: arial, verdana, sans-serif;
	font-size: 16px;
	color:white;

	background-image:url(images/bg.jpg);

	background-repeat: repeat;
	float:left;
}

a {
	text-decoration: none;
	color:rgb(160,50,189);
	font-style: italic;
}




img {
	border-radius: 30px;

}
.content img:hover{
	border:1px solid white;
	margin:-1px;

}
.logo {
	
	position: relative;
	z-index: 10;
	
	left:100px;
	font-size:20pt;
	font-style: italic;
}

div.list ul {
display: inline-block;
width:410px;
height: 75px;
border-radius: 15px;

background-color: #000080;
position:relative;
top:-130px;
float:right;
right:5%;
z-index:11;
padding:5px;

}
.list ul li{
	margin:5px 10px 5px 0px;
	display: block;
	background-color:white;
	padding:5px;
	border-radius: 15px;
	float:left;
	
	list-style-type: none;
	color:black;
	font-size:16px;
}


.content {
	
	float:left;
	margin-left:3%;
	background:rgba(15,19,54,0.8);
	width:90%;
	top: -100px;
	display: block;
	position: relative;
	border:3px solid white;
	
	padding:15px 30px;
	border-radius: 20px;
	color:white;
	text-align:justify ;
}

.hist{
	width: 65%;
	display: block;
	float:left;
}
.vate{
	width: 55%;
	display: block;
	float:left;
}

#DK,#VT,#NA{
	float:right;
}

.yuga,.alle {
	width: 48%;
	display: block;
	float:left;
}
#YG,#AL{
	float:left;
	margin-right: 10px;
}

#MP {
	float:left;
	position: relative;
	left:50px;
	bottom: 50px;
}

.alle {
	width:55%;
	float:left;
}
.niar {
	float:left;
	width:55%;
}

.end p{
	background-color: rgb(15,19,54);
	border-radius: 10px;
	padding:2px;
	position:relative;
	float:right;
	font-size:16pt;
	left:-20px;
}


.form {
	height:20px;
}